body,
p,
h1,
h2,
h3,
ul {
	margin: 0;
}

body {
	font-family: "微软雅黑";
	background:#000000;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	border: none;
	vertical-align: top;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow: auto;
}

.title {
	width: 100%;
	height: 1.1rem;
	background-color: #0c0c0c;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}

.mail {
	width: 100%;
	position: absolute;
	height: 2rem;
	left: 0;
	top: 1rem;
	background: #000000;
	color: #fff;
	font-size: 1.4rem;
	text-align: center;
	line-height: 2rem;
	z-index: 998;
}

.item {
	width: 100%;
	height: 54rem;
	transform-style: preserve-3d;
	/*perspective: 1000rem;*/
	top: 3rem;
	left: 0;
	position: absolute;
	transition:1s;
	transform-origin: center center -27rem;
	
}

.item li {
	width: 100%;
	height: 54rem;
	left:0;
	top:0;
	/*position: absolute;*/
	background: #1e243a;
	font-size:30rem;
	text-align: center;
	color:#fff;
	border-top:solid #fff 2rem;
}

.page {
	position: absolute;
	left: 0;
	top: 0rem;
	width: 100%;
	height: 0;
	display: none;
	background: #1e243a;
	/*transform: translateZ(0);*/
}

.page p {
	width: 10.3rem;
	height: 4.1rem;
	border: 0.2rem solid #388886;
	color: rgb(78, 229, 208);
	font-size: 1.6rem;
	text-align: center;
	position: absolute;
	font-weight: bold;
}

.page p:nth-child(1) {
	top: 1.9rem;
	left: 12rem;
}

.page p:nth-child(2) {
	top: 35.9rem;
	left: 12rem;
}

.font-span {
	/*width:12.8rem;
	height:7.705rem;*/
	position: absolute;
	left: -4rem;
	top: 2rem;
	line-height: 4.1rem;
	transform-origin: left;
	transform: rotateZ(-90deg);
	transition: 1s;
	opacity: 0;
}

.page .PI {
	position: relative;
	width: 37.5rem;
	height: 25rem;
	top: 10rem;
	left: 0;
}

.PI span:nth-child(1) {
	position: absolute;
	left: 10rem;
	top: 0;
	opacity: 0;
	background: #155dde;
}

.PI span:nth-child(2) {
	position: absolute;
	left: 22.4rem;
	top: 5.3rem;
	opacity: 0;
	background: #d57a02;
}

.PI span:nth-child(3) {
	position: absolute;
	left: 8rem;
	top: 12.4rem;
	opacity: 0;
	background: #9f1cbf;
}

.PI span:nth-child(4) {
	opacity: 0;
	position: absolute;
	left: 18rem;
	top: 15.5rem;
	background: #1abd4e;
}

.li_font {
	text-align: center;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
	font-size: 0;
	line-height: 0;
	width: 0;
	top: 0;
}

.job {
	position: absolute;
	width: 37.5rem;
	height: 8.6rem;
	top: 40.4rem;
	left: 0;
}

.job div {
	width: 14rem;
	line-height: 4.4rem;
	position: absolute;
	font-size: 1.4rem;
	top: 4rem;
}

.job div:nth-child(1) {
	left: -20rem;
	background-color: #2acdb4;
	color: #fff;
	text-indent: 1.7rem;
}

.job div:nth-child(2) {
	right: -20rem;
	background-color: #be4b75;
	color: #fff;
	text-indent: 1.7rem;
}

.file {
	/*left: 0;*/
	/*top: 54rem;*/
	/*transform-origin:top;
	transform: rotateX(-90deg);*/
	color: #fff;
}

#content {
	perspective: 20000rem;
}

/*#content:hover ul {
	transition: 8s;
	
	transform: rotateX(360deg);
}*/

/*.item li:nth-child(3) {
	top: -54rem;
	left: 0;
	transform-origin: bottom;
	transform: rotateX(90deg);
}*/

/*.item li:nth-child(2) {
	top:0;
	left: 0;
	z-index:120000;
}*/
.button{
	width:5rem;
	height:5rem;
	border-radius: 50%;
	position:absolute;
	background:#fff;
}
.a{
	width:10rem;
	height:10rem;
	background:red;
}
.dianji{
		width:5rem;
	height:5rem;
	border-radius: 50%;
	position:absolute;
	background:#fff;
}
